@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
html {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Oswald', sans-serif;
}
body {
	margin: 0;
	background-color: #6a2a28;
}
a {
	width: 100%;
	color: aqua;
}

#loadingblocker {
	opacity:1;
  background-color:#121212;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:6000;
}
.topbar {
	position: fixed;
	display: flex;
	z-index: 5000;
	height: 40px;
	width: 100%;
	font-size: 1.45rem;
	font-weight: 700;
	color: #181818;
	background-color: #B22931;
}
#dropdownwrap {
	width: 20%;
	padding-right: 5px;
	text-align: center;
}
#location {
	width: 100%;
	margin: auto;
	padding-left: 5px;
	font-size: 1.25rem;
}
.dropdown-content {
  background-color: #B22931;
	color: black;
  margin: 0;
  display: none;
  min-width: 200px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}
.dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 200px;
  text-align: left;
  text-transform: none;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: rgba(70, 70, 70, 0.2);
}
.dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #01ffff;
	text-decoration: underline;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}
.dropdown-content li > span > label {
  top: 1px;
  left: 0;
  height: 18px;
}
.dropdown-content li > a > i {
  height: inherit;
  line-height: inherit;
}
#topdata {
	width: 80%;
	text-align: center;
}
#info {
	width: 26%;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	border-color: black;
	font-size: 1.25rem;
}
a-scene {
	position: fixed;
	left: 20%;
	height: 120%;
	width: 60%;
	cursor: default;
}
ul {
	padding: 0;
	margin: 0;
	margin-top: 10%;
}
.fillerli{
	background-color: #19191b;
	height: 120px;
	color: dimgrey; 
}
.citystate {
	font-size: 1.3rem;
}
.address {
	font-size: 2.5rem;
}
.injuries {
	font-size: 2.0rem;
}
.deaths {
	font-size: 2.0rem;
}
.source {
	font-size: 1.2rem;
}
.fillercitystate{
	font-size: 0.8rem;
}
.filleraddress{
	font-size: 1.0rem;
}
.fillerinjuries {
	font-size: 0.8rem;
}
.fillerdeaths {
	font-size: 0.8rem;
}
.fillersource {
	font-size: 0.7rem;
}
/*Left List*/
#left {
	position: absolute;
	z-index: 500;
	margin-left: -1%;
}
ul#llist >  li {
	list-style: none;
	margin-bottom: 15%;
	transform: rotate(20deg);
}
ul#llist > .fullli {
	width: 100%;
	min-width: 250px;
	margin-left: -80%;
	margin-top: -80px;
}
ul#llist > .fillerli {
	width: 100%;
	min-width: 300px;
	margin-left: -60%;
	padding-bottom: 5px;
}
.lemptyli {
	background-color: #19191b;
	height: 120px;
}
.ltextspacer {
	background-color: #B22931;
	text-align: right;
	width: 140%;
}
.llitext {
	position: relative;
	text-align: right;
	left: 39%;
	background-color: #B22931;
	height: 100%;
	width: 60%;
	padding-bottom: 5px;
}
.lfillertextspacer{
	text-align: right;
}
.lfillerlitext {
	position: relative;
	left: 18%;
	height: 100%;
	width: 80%;
	padding-bottom: 5px;
}


/*Right List*/
#right {
	position: absolute;
	left: 81%;
	z-index: 500;
	width: 20%;
	margin-top: 5%;
}
ul#rlist > li {
	list-style: none;
	transform: rotate(20deg);
	margin-bottom: 10%;
	white-space: nowrap;
}
ul#rlist > .fullli {
	width: 200%;
}
ul#rlist > .fillerli {
	width: 200%;
	min-width: 300px;
	padding-bottom: 5px;
}
.rtextspacer {
	background-color: #B22931;
	width: 100%;
	margin-left: -120px;
}
.rlitext {
	background-color: #B22931;
	height: 55%;
	width: 60%;
	padding: 3px;
}
.rfillertextspacer{
	width: 100%;
}
.rfillerlitext {
	width: 60%;
	padding-left: 5px;
	padding-top: 0px;
}

@media screen and (max-width: 900px) {
	.topbar {
		font-size: 1.15rem;
		height: 60px;
	}
	#location {
		width: 15%;
		padding-left: 5px;
		text-align: center;
		font-size: 1.05rem;
	}
	#topdata {
		width: 70%;
		font-size: 1.2rem;
		text-align: center;
	}
	#info {
		width: 15%;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		font-size: 1.15rem;
	}
}

@media screen and (max-width: 1000px) {
	.address {
		font-size: 1.3rem;
	}
	.injuries {
		font-size: 1.0rem;
	}
	.deaths {
		font-size: 1.0rem;
	}
	.source {
		font-size: 0.8rem;
	}
	.fillercitystate{
		font-size: 0.5rem;
	}
	.filleraddress{
		font-size: 0.8rem;
	}
	.fillerinjuries {
		font-size: 0.6rem;
	}
	.fillerdeaths {
		font-size: 0.6rem;
	}
	.fillersource {
		font-size: 0.5rem;
	}
	/*Left List*/
	ul#llist > .fullli {
		width: 100%;
		min-width: 250px;
		margin-left: -60%;
		margin-top: -10%;
	}
	ul#llist > .fillerli {
		width: 100%;
		min-width: 250px;
		margin-left: -45%;
		padding-bottom: 5px;
	}
	/*Right List*/
	ul#rlist > .fullli {
		width: 200%;
		margin-right: -20%;
	}
	ul#rlist > .fillerli {
		width: 200%;
		min-width: 300px;
		padding-bottom: 5px;
	}
	.rtextspacer {
		background-color: #B22931;
		width: 100%;
		margin-left: -90px;
	}
	.rlitext {
		background-color: #B22931;
		height: 55%;
		width: 60%;
		padding: 3px;
	}
	.rfillertextspacer{
		width: 100%;
	}
	.rfillerlitext {
		width: 60%;
	}
}


